<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="/">Главная</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/contact/">Список</a></li>
            </ul>
            <form class="navbar-form navbar-left" ng-show="isLoggedIn()">
                <link>Поиск</link>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="$sessionStorage.query" ng-change="$sessionStorage.currentPage = 0" />
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="isAdmin()" style="cursor:pointer"><a data-toggle="modal" data-target="#addModal">Добавить</a></li>
                <li ng-hide="isLoggedIn()" style="cursor:pointer"><a data-toggle="modal" data-target="#registerModal" style="cursor:pointer">Регистрация</a></li>
                <li ng-hide="isLoggedIn()" style="cursor:pointer"><a data-toggle="modal" data-target="#loginModal" style="cursor:pointer">Войти</a></li>
                <li ng-show="isLoggedIn()">
                    <p class="navbar-text">Привет {{ getCurrentUser().firstName }}</p>
                </li>
                <li ng-show="isLoggedIn()" style="cursor:pointer"><a ng-disabled="isAdmin()" data-toggle="modal" data-target="#editModal" ng-click="findContact($root.user._id)"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Profile</a></li>
                <li ng-show="isLoggedIn()" style="cursor:pointer"><a ng-click="logOut()">Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>
