html, body {
    background: url(../img/image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
    font-size: 72px;
    text-align: center;
}

h2 {
    color: #FFFFFF;
}

table {
  background: rgba(255, 255, 255, 0.7);

}

td {
    padding: 5px;
}

.opacity0 {
    opacity: 1;
}
