<div class="container-fluid">

    <div ng-include="'components/navbar.html'"></div>

    <div class="page-header">
        <h2> Список работников </h2>
    </div>



    <!-- ===МОДАЛЬНОЕ ОКНО=== -->
    <!-- Для добавления -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p>
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <b class="modal-title">Добавить нового работника</b>
                </div>
                <form name="registerForm" class="form-horizontal" ng-submit="addContact(newUser)" novalidate>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }">
                            <label class="col-md-3">Email (обязательно)</label>
                            <div class="col-md-6">
                                <input type="email" name="email" class="form-control" ng-model="newUser.email" required="required">
                                <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Enter a valid email.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine }">
                            <label class="col-md-3">Пароль (обязательно)</label>
                            <div class="col-md-6">
                                <input type="password" name="password" class="form-control" ng-model="newUser.password" ng-pattern='/^[а-яА-ЯёЁa-zA-Z0-9]{4,}$/' required="required">
                                <p ng-show="registerForm.password.$invalid && !registerForm.password.$pristine" class="help-block">Your password is incorrect (min 4 symbols).</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.firstName.$invalid && !registerForm.firstName.$pristine }">
                            <label class="col-md-3">Имя (обязательно)</label>
                            <div class="col-md-6">
                                <input type="text" name="firstName" class="form-control" ng-model="newUser.firstName" ng-pattern='/^[а-яА-ЯёЁa-zA-Z]{1,20}$/' required="required">
                                <p ng-show="registerForm.firstName.$invalid && !registerForm.firstName.$pristine" class="help-block">Your name is incorrect.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.secondName.$invalid && !registerForm.secondName.$pristine }">
                            <label class="col-md-3">Фамилия (обязательно)</label>
                            <div class="col-md-6">
                                <input type="text" name="secondName" class="form-control" ng-model="newUser.secondName" ng-pattern='/^[а-яА-ЯёЁa-zA-Z]{1,20}$/' required="required">
                                <p ng-show="registerForm.secondName.$invalid && !registerForm.secondName.$pristine" class="help-block">Your surname is incorrect.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.position.$invalid && !registerForm.position.$pristine }">
                            <label class="col-md-3">Должность</label>
                            <div class="col-md-6">
                                <select type="text" name="position" class="form-control" ng-model="newUser.position">
                                    <option>Programmer</option>
                                    <option>Analyst</option>
                                    <option>Enginer</option>
                                    <option>Architect</option>
                                  </select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.salary.$invalid && !registerForm.salary.$pristine }">
                            <label class="col-md-3">Зарплата</label>
                            <div class="col-md-6">
                                <input type="number" name="salary" class="form-control" ng-model="newUser.salary">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.phoneNumber.$invalid && !registerForm.phoneNumber.$pristine }">
                            <label class="col-md-3">Телефон</label>
                            <div class="col-md-6">
                                <input type="tel" name="phoneNumber" class="form-control" ng-model="newUser.phoneNumber" ng-pattern='/^([+]?[0-9\s-\(\)]{3,25})*$/i' title="Формат ввода 050 1111111">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.birthday.$invalid && !registerForm.birthday.$pristine }">
                            <label class="col-md-3">День рождения</label>
                            <div class="col-md-6">
                                <input type="text" name="birthday" class="form-control" ng-model="newUser.birthday" ng-pattern='/\d{1,2}.\d{1,2}.\d{4}/' title="Формат ввода 11.11.1900">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Сохранить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Для редактирования -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p>
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <b class="modal-title">Редактировать информацию работника</b>
                </div>
                <div class="modal-body">
                    <form name="editForm" class="form-horizontal" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : editForm.email.$invalid && !editForm.email.$pristine }">
                            <label class="col-md-3">Email</label>
                            <div class="col-md-6">
                                <input type="email" name="email" class="form-control" ng-model="editedContact.email" ng-disabled="true">
                                <p ng-show="editForm.email.$invalid && !editForm.email.$pristine" class="help-block">Enter a valid email.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : editForm.password.$invalid && !editForm.password.$pristine }">
                            <label class="col-md-3">Пароль</label>
                            <div class="col-md-6">
                                <input type="text" name="password" class="form-control" ng-model="editedContact.password" ng-class="{'hidden': isAdmin()}" ng-pattern='/^[а-яА-ЯёЁa-zA-Z0-9]{4,}$/'>
                                <p ng-show="editForm.password.$invalid && !editForm.password.$pristine" class="help-block">Your password is incorrect (min 4 symbols).</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : editForm.firstName.$invalid && !editForm.firstName.$pristine }">
                            <label class="col-md-3">Имя (обязательно)</label>
                            <div class="col-md-6">
                                <input type="text" name="firstName" class="form-control" ng-model="editedContact.firstName" ng-pattern='/^[а-яА-ЯёЁa-zA-Z]{1,20}$/' ng-required="required">
                                <p ng-show="editForm.firstName.$invalid && !editForm.firstName.$pristine" class="help-block">Your name is incorrect.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : editForm.secondName.$invalid && !editForm.secondName.$pristine }">
                            <label class="col-md-3">Фамилия (обязательно)</label>
                            <div class="col-md-6">
                                <input type="text" name="secondName" class="form-control" ng-model="editedContact.secondName" ng-pattern='/^[а-яА-ЯёЁa-zA-Z]{1,20}$/' ng-required="required">
                                <p ng-show="editForm.secondName.$invalid && !editForm.secondName.$pristine" class="help-block">Your surname is incorrect.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : editForm.position.$invalid && !editForm.position.$pristine }">
                            <label class="col-md-3">Должность</label>
                            <div class="col-md-6">
                                <select type="text" name="position" class="form-control" ng-model="editedContact.position">
                                    <option>Programmer</option>
                                    <option>Analyst</option>
                                    <option>Enginer</option>
                                    <option>Architect</option>
                                  </select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : editForm.salary.$invalid && !editForm.salary.$pristine }">
                            <label class="col-md-3">Зарплата</label>
                            <div class="input-group col-md-6">
                                <input type="number" string-to-number name="salary" class="form-control col-md-8" ng-model="editedContact.salary" ng-disabled="isAdmin()">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : editForm.phoneNumber.$invalid && !editForm.phoneNumber.$pristine }">
                            <label class="col-md-3">Телефон</label>
                            <div class="col-md-6">
                                <input type="tel" name="phoneNumber" class="form-control" ng-model="editedContact.phoneNumber" ng-pattern='/^([+]?[0-9\s-\(\)]{3,25})*$/i' placeholder="050 111-11-11" title="Формат ввода 050 1111111">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : editForm.birthday.$invalid && !editForm.birthday.$pristine }">
                            <label class="col-md-3">День рождения</label>
                            <div class="col-md-6">
                                <input type="text" name="birthday" class="form-control" ng-model="editedContact.birthday" ng-pattern='/\d{1,2}.\d{1,2}.\d{4}/' title="Формат ввода 11.11.1900">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-class="{'hidden': !isAdmin()}" data-toggle="modal" data-target="#changePasswordModal" ng-click="">Изменить пароль</button>
                    <button class="btn btn-success" ng-click="saveContact(editedContact)" ng-disabled="editForm.$invalid">Сохранить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Информация о пользователе-->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p>
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <b class="modal-title">Информация о работнике</b>
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        <label>Имя</label>
                        <div>{{editedContact.firstName}}</div>
                    </div>
                    <div class="col-md-6">
                        <label>Фамилия</label>
                        <div>{{editedContact.secondName}}</div>
                    </div><br><br><br><br>
                    <div class="col-md-6">
                        <label>E-mail</label>
                        <div>{{editedContact.email}}</div>
                    </div>
                    <div class="col-md-6">
                        <label>Должность</label>
                        <div>{{editedContact.position}}</div>
                    </div><br><br><br><br>
                    <div class="col-md-6">
                        <label>Телефон</label>
                        <div>{{editedContact.phoneNumber}}</div>
                    </div>
                    <div class="col-md-6">
                        <label>B-day</label>
                        <div>{{editedContact.birthday}}</div>
                    </div><br><br><br><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>



    <!--Спрос про удаление -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Подтвердите удаления</h4>
                </div>
                <div class="modal-body">
                    <label>Вы точно хотите удалить {{editedContact.firstName }} {{editedContact.secondName }} ?</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="deleteContact(editedContact._id)" data-dismiss="modal">Удалить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>


    <!--Изменение пароля -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Изменение пароля</h4>
                </div>
                <form name="changePasswordForm" class="form-horizontal" ng-submit="changePassword(contact, editedContact)" novalidate>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.password.$invalid && !changePasswordForm.password.$pristine }">
                            <label class="col-md-3">Введите старый пароль</label>
                            <div class="col-md-6">
                                <input type="password" name="password" class="form-control" ng-model="contact.oldPassword" ng-pattern='/^[а-яА-ЯёЁa-zA-Z0-9]{4,}$/' required="required">
                                <p ng-show="changePasswordForm.password.$invalid && !changePasswordForm.password.$pristine" class="help-block">Your password is incorrect (min 4 symbols).</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.newPassword.$invalid && !changePasswordForm.newPassword.$pristine }">
                            <label class="col-md-3">Введите новый пароль</label>
                            <div class="col-md-6">
                                <input type="password" name="newPassword" class="form-control" ng-model="contact.password" ng-pattern='/^[а-яА-ЯёЁa-zA-Z0-9]{4,}$/' required="required">
                                <p ng-show="changePasswordForm.newPassword.$invalid && !changePasswordForm.newPassword.$pristine" class="help-block">Your password is incorrect (min 4 symbols).</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : changePassword.newPassword2.$invalid && !changePassword.newPassword2.$pristine || changePasswordForm.newPassword.$value!=changePasswordForm.newPassword2.$value}">
                            <label class="col-md-3">Введите новый пароль ещё раз</label>
                            <div class="col-md-6">
                                <input type="password" name="newPassword2" class="form-control" ng-model="contact.password2" ng-pattern='/^[а-яА-ЯёЁa-zA-Z0-9]{4,}$/' required="required">
                                <p ng-show="changePasswordForm.newPassword2.$invalid && !changePasswordForm.newPassword2.$pristine" class="help-block">Your password is incorrect (min 4 symbols).</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="changePasswordForm.$invalid">Сохранить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- ===СПИСОК СОТРУДНИКОВ=== -->
    <div class="col-md-3">
        <table>
                <tr ng-repeat="contact in contacts | orderBy:'_id' | filter: search | startFrom:$sessionStorage.currentPage*pageSize | limitTo:pageSize">

                    <td>
                        <a ng-click="findContact(contact._id)" style="cursor:pointer">{{ contact.firstName }} {{ contact.secondName }}</a>
                    </td>

                    <td>
                        <button class="btn btn-primary" ng-show="isAdmin()" data-toggle="modal" data-target="#editModal" ng-click="findContact(contact._id)">Редактировать</button>
                        <button class="btn btn-warning" ng-show="isAdmin()" data-toggle="modal" data-target="#deleteModal" ng-click="findContact(contact._id)">Удалить</button>
                    </td>
                </tr>
        </table>
    <ul class="pagination">
        <li>
            <a aria-label="Preview" ng-click="previousPage()" style="cursor:pointer">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a>{{$sessionStorage.currentPage+1}}/{{numberOfPages()}}</a></li>
        <li ng-class="{'disabled': check()}">
            <a aria-label="Next" ng-click="nextPage()" style="cursor:pointer">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
  </div>
  <div class="col-md-9">
    <table>
    <tr>
        <td>Имя</td>
        <td>{{editedContact.firstName}}</td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td>{{editedContact.secondName}}</td>
    </tr>
    <tr>
        <td>E-mail</td>
        <td>{{editedContact.email}}</td>
    </tr>
    <tr>
        <td>Должность</td>
        <td>{{editedContact.position}}</td>
    </tr>
    <tr>
        <td>Телефон</td>
        <td>{{editedContact.phoneNumber}}</td>
    </tr>
    <tr>
        <td>B-day</td>
        <td>{{editedContact.birthday}}</td>
    </tr>
  </table>
</div>
