<div class="container-fluid">

<div ng-include="'components/navbar.html'"></div>

  <div class = "title">
        <h1>KOZAK GROUP</h1>
      </div>


    <!-- Вход -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Вход</h4>
                </div>
                <div class="modal-body">
                    <form name="userForm" class="form-horizontal" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                            <label class="col-md-3">Email</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input type="email" name="email" class="form-control" ng-model="user.email" required="required">
                                </div>
                                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                            <label class="col-md-3">Пароль</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-option-horizontal"></i></span>
                                    <input type="password" name="password" class="form-control" ng-model="user.password" ng-pattern='/^[а-яА-ЯёЁa-zA-Z0-9]{4,}$/' required="required">
                                </div>
                                <p ng-show="userForm.password.$invalid && !userForm.password.$pristine && userForm.password.$value==''" class="help-block">Your password is incorrect (min 4 symbols)..</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="login(user)" ng-disabled="userForm.$invalid">Войти</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Регистрация -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p>
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <b class="modal-title">Регистрация</b>
                </div>
                <form name="registerForm" class="form-horizontal" ng-submit="addContact(newUser)" novalidate>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }">
                            <label class="col-md-3">Email (обязательно)</label>
                            <div class="col-md-6">
                                <input type="email" name="email" class="form-control" ng-model="newUser.email" required="required">
                                <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Enter a valid email.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine }">
                            <label class="col-md-3">Пароль (обязательно)</label>
                            <div class="col-md-6">
                                <input type="password" name="password" class="form-control" ng-model="newUser.password" ng-pattern='/^[а-яА-ЯёЁa-zA-Z0-9]{4,}$/' required="required">
                                <p ng-show="registerForm.password.$invalid && !registerForm.password.$pristine" class="help-block">Your password is incorrect (min 4 symbols).</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.firstName.$invalid && !registerForm.firstName.$pristine }">
                            <label class="col-md-3">Имя (обязательно)</label>
                            <div class="col-md-6">
                                <input type="text" name="firstName" class="form-control" ng-model="newUser.firstName" ng-pattern='/^[а-яА-ЯёЁa-zA-Z]{1,20}$/' required="required">
                                <p ng-show="registerForm.firstName.$invalid && !registerForm.firstName.$pristine" class="help-block">Your name is incorrect.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.secondName.$invalid && !registerForm.secondName.$pristine }">
                            <label class="col-md-3">Фамилия (обязательно)</label>
                            <div class="col-md-6">
                                <input type="text" name="secondName" class="form-control" ng-model="newUser.secondName" ng-pattern='/^[а-яА-ЯёЁa-zA-Z]{1,20}$/' required="required">
                                <p ng-show="registerForm.secondName.$invalid && !registerForm.secondName.$pristine" class="help-block">Your surname is incorrect.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.position.$invalid && !registerForm.position.$pristine }">
                            <label class="col-md-3">Должность</label>
                            <div class="col-md-6">
                                <select type="text" name="position" class="form-control" ng-model="newUser.position">
                                    <option>Programmer</option>
                                    <option>Analyst</option>
                                    <option>Enginer</option>
                                    <option>Architect</option>
                                  </select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.salary.$invalid && !registerForm.salary.$pristine }">
                            <label class="col-md-3">Зарплата</label>
                            <div class="col-md-6">
                                <input type="number" name="salary" class="form-control" ng-model="newUser.salary">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.phoneNumber.$invalid && !registerForm.phoneNumber.$pristine }">
                            <label class="col-md-3">Телефон</label>
                            <div class="col-md-6">
                                <input type="tel" name="phoneNumber" class="form-control" ng-model="newUser.phoneNumber" ng-pattern='/^([+]?[0-9\s-\(\)]{3,25})*$/i' title="Формат ввода 050 1111111">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.birthday.$invalid && !registerForm.birthday.$pristine }">
                            <label class="col-md-3">День рождения</label>
                            <div class="col-md-6">
                                <input type="text" name="birthday" class="form-control" ng-model="newUser.birthday" ng-pattern='/\d{1,2}.\d{1,2}.\d{4}/' title="Формат ввода 11.11.1900">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Сохранить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
